:root {
  --hot-cinnamon: #e1621b;
  --zest: #e1811f;
  --tory-blue: #1068a6;
  --pomegranate: #f34e0e;
  --tulip-tree: #e5c038;
  --gold-sand: #e5b27e;
  --chathams-blue: #103f69;
  --spindle: #badeed;
  --old-copper: #6b432a;
}

/* RESET E BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8fafc;
}